<div class="container show-article">
 	<div class="card">
 		<h3 class="text-center text-warning">Article</h3>
	  <div class="card-body">
	  	<p class="card-text"><span>Name:</span><%= @article.name %></p>
	  	<p class="card-text"><span>Description:</span><%= @article.description %></p>
	  	<a href="/" class="btn btn-primary">back</a>
	  </div>
	</div>
</div>