<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-style">
	<ul class="navbar-nav mr-auto navbar-content">
    <li class="nav-item active">
      <a class="navbar-brand" href="#"> 
				<%= image_tag ("/assets/logo.png") %>
			</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle search-location"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>
          SELECT LOCATION
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="dropdown-item"> 
        	<form action="#" method="get" class="serach-location-form">
						<input type="text" name="name" id="name" class="input-style" placeholder="location">
						<button type="submit" class="location-search-btn">
							<%= image_tag ("/assets/search_icon.png") %>
						</button>
					</form>
        </div>
      </div>
    </li>
  </ul>
  <div class="nav-right">
	 	<ul>
    	<li>
  			<a href="#">CONTACT US</a>
  		</li>
  		<li>
  			<a href="#">SEARCH</a>
  		</li>
		</ul>
	</div>
</nav>